* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B2545;
    --primary-color-bg: #EEF4F8;

    --secondary-color-transparent: rgba(19, 64, 116, 0.8);

    --text-color-dark: #1E293B;
    --text-color-light: #FFFFFF;

    --accent-color: tomato;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

    --border: 1px solid #1E293B;
}

header img {
    display: block;
    width: 112px;
    height: 105px;
    padding: 0;
    margin: .6rem;
}

body {
    font-family: var(--body-font);
    color: var(--text-color-dark);
}

header,
main,
footer {
    width: 840px;
    margin: 15px auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 0 3rem;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 1px solid black; */
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
    list-style: none;
    padding: 8px 25px;

    /* just for layout visualization purposes */
    /* background-color: #FFFFFF;
    border: 1px solid black; */

}

.navigation a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article {
    margin: 16px;
    padding: 8px;
}

a {
    text-decoration: none;
}

.socialmedia {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color-bg);
}

.hero article img {
    float: right;
    height: 90px;
    width: auto;
    margin-left: .5rem;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--secondary-color-transparent);
    color: var(--text-color-light);
    padding: .5rem 1rem;
    text-align: center;
}

article p {
    padding-top: 17px;
}

h2 {
    text-align: center;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    width: 100%;
    margin: 10px 0;
    padding: 4px 0;
}

section {
    margin-top: 10px;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 2px solid black; */
}

.section-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.section-grid-container img {
    max-width: 100%;
    height: auto;
    grid-column: 2;
}

section p {
    margin-bottom: 40px;
    padding: 0 20px 5px;
}

.adventure-flex-container {
    display: flex;
    justify-content: space-evenly;
}

figure img {
    max-height: 80px;
    width: auto;
}

figcaption {
    justify-self: center;
}

footer {
    border-top: var(--border);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    padding: 10px 0;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 2px solid black; */
}

footer p {
    grid-column: 2;
}