* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B2545;
    --primary-color-bg: #EEF4F8;

    --secondary-color-transparent: rgba(19, 64, 116, 0.8);

    --text-color-dark: #1E293B;
    --text-color-light: #FFFFFF;

    --accent-color: tomato;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

    --border: 1px solid var(--primary-color);
}

header img {
    display: block;
    width: 112px;
    height: 105px;
    padding: 0;
    margin: .6rem;
}

body {
    font-family: var(--body-font);
    color: var(--text-color-dark);
}

header,
main,
footer {
    width: 840px;
    margin: 15px auto;
    margin-top: 0;
}

header {
    margin: 1rem auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 0 3rem;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 1px solid black; */
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
    list-style: none;
    padding: 8px 25px;

    /* just for layout visualization purposes */
    /* background-color: #FFFFFF;
    border: 1px solid black; */

}

.navigation a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

article {
    margin: 16px;
    padding: 8px;
}

nav a,
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color-bg);
}

.hero article img {
    float: right;
    height: 90px;
    width: auto;
    margin-left: .5rem;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--secondary-color-transparent);
    color: var(--text-color-light);
    padding: .5rem 1rem;
    text-align: center;
}

article p {
    padding-top: 17px;
}

h2 {
    text-align: center;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    width: 100%;
    margin: 10px 0;
    padding: 4px 0;
}

section {
    margin-top: 10px;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 2px solid black; */
}

.section-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.section-grid-container img {
    max-width: 100%;
    height: auto;
    grid-column: 2;
}

section p {
    margin-bottom: 40px;
    padding: 0 20px 5px;
}

.adventure-flex-container {
    display: flex;
    justify-content: space-evenly;
}

figure img {
    max-height: 80px;
    width: auto;
}

figcaption {
    justify-self: center;
}

footer {
    border-top: var(--border);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    padding: 10px 0;

    /* just for layout visualization purposes? */
    /* background-color: lavender;
    border: 2px solid black; */
}

footer p {
    grid-column: 2;
}

address,
address a {
    text-align: center;
    padding: 5px 0;
    font-style: normal;
    color: var(--text-color-dark);
    text-decoration: none;
    line-height: 22px;
    font-weight: 600;
}

.flex-container {
    margin: 10px 0 25px;
    display: flex;
    flex-wrap: wrap;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
}

.contact-form {
    padding-left: 2.5rem;
    display: grid;
    max-width: 440px;
}

.form-item {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: left;
    align-items: center;
}

.form-item input {
    grid-column: 2/3;
    height: 40px;
}

input,
textarea,
button {
    border-radius: 5px;
    border: var(--border);
}

input,
textarea {
    padding-left: 7px;
}

.radio-container {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 35% 65%;
    align-items: center;
}

.radio-label {
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    flex-wrap: wrap;
}

.radio-input {
    grid-column: 2;
}

.message textarea {
    grid-row: 2;
    grid-column: 1/3;
    height: 70px;
    padding-top: 4px;
}

.checkbox {
    margin-top: 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: .5rem;

}

button {
    background-color: var(--primary-color-bg);
    color: var(--text-color-dark);
    border: none;
    font-size: 1.2rem;
    height: 40px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

section .flex-container {
    justify-content: space-evenly;
}

.staff figure {
    text-align: center;
}

.staff img {
    max-height: 110px;
    width: auto;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: auto;
}

.newsletter-form h2 {
    grid-column: 1/3;
}

.newsletter-form p {
    grid-row: 2/5;
    grid-column: 1/2;
    padding: 5px;
    text-align: left;
}

.newsletter-form .form-item {
    padding: 5px;
}

.newsletter-form button {
    margin: 5px;
    grid-column: 2/3;
    width: 250px;
    height: 35px;
    place-self: center;
}

.caja-grande {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: center;
    justify-self: center;
    margin: 20px auto 10px;
    height: 30px;
    width: 100%;
    background-color: var(--secondary-color-transparent);
    color: var(--text-color-light);
    border-radius: .5rem;
    place-content: center;
    align-self: center;
}

.caja-grande img {
    width: 200px;
    justify-self: center;
    border: 5px solid var(--secondary-color-transparent);
    padding: 4px;
    border-radius: .5rem;
    box-sizing: content-box;
}

.cajita1,
.cajita2 {
    grid-template-rows: 60px 1fr;
}

.cajita1 {
    grid-column: 1/5;
    grid-row: 1;
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cajita2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/5;
    grid-row: 2;
    grid-template-rows: 60px 130px 1fr;
}

.cajita1 img {
    grid-column: 1;
    grid-row: 1/3;
}

.cajita2 img {
    grid-column: 2;
    grid-row: 1/4;
}

.cajita2 p {
    grid-column: 1;
    align-self: start;
}

.trips-hl {
    color: var(--accent-color);
    text-decoration: none;
}

.trips-hl:hover {
    color: var(--text-color-light);
}

.explore-hl {
    align-self: top;
    justify-self: center;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 600;
    width: fit-content;
    text-decoration: underline;
}

.explore-hl:hover {
    color: var(--accent-color);
    text-decoration: none;

}

.trips img {
    width: 50%;
    height: auto;
    float: left;
}

.trips h2 {
    clear: left;
}

.trip-container {
    margin: 20px 0 95px;
}

.trip-container p {
    margin: 0 auto;
    padding: 10px 15px 0 435px;

}

.trips-table {
    border: 2px solid var(--secondary-color-transparent);
    border-collapse: collapse;
}

th {
    color: var(--text-color-dark);
    font-size: 1.1rem;
}

thead th,
tfoot th {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.trips-table th,
.trips-table td {
    border-left: 2px solid var(--secondary-color-transparent);
    padding: 3px 5px;
    text-align: center;
}

tfoot th {
    font-weight: 400;
    border-top: 2px solid var(--secondary-color-transparent);
}

.trips-table .alt-bg {
    background-color: var(--primary-color-bg);
}

tfoot a {
    color: var(--text-color-light);
    font-weight: 600;
    text-decoration: none;
}

tfoot a:hover {
    color: var(--accent-color);
}